- extends 'adminplus/base.html'

- block title
  Import Toutatis vote

- block content
  %h1 Import Toutatis vote

  %form{:action => '', :method => 'post'}
    - csrf_token
    {{ form }}
    %input{:type => 'submit', :value => 'Search', :name => 'search'}

  - if results
    -# %a{:href => '={api_url}'}= api_url 
    %table
      %tr
        %th Dossier reference
        %th Dossier title
        %th Vote reference
        %th Vote kind
        %th Vote title
        %th Import
        
      - for result in results.results
        %tr
          %td= result.dossier_reference
          %td= result.dossier_title
          %td= result.reference
          %td= result.kind
          %td= result.title
          %td
            %strong
              <a href="?import={{ result.fingerprint }}">
                 Import this vote
              </a>

  - if recommendation_form
    %form{:action => '', :method => 'post'}
      - csrf_token
      %input{:type => 'hidden', :value => '={recommendation_proposal_fingerprint}', :name => 'proposal_fingerprint'}
      %table
        %tr
          %th Dossier
          %td= recommendation_proposal_dossier_title
        %tr
          %th Vote
          %td= recommendation_proposal_title
            
        {{ recommendation_form }}
        %tr
          %td
          %td
            %input{:type => 'submit', :value => 'Go', :name => 'create_recommendation'}
