-# List representatives
  
- extends 'base.html'
- load by_group_url

- block content
  .representative
    .row
      .col-md-8
        %h1.name
          ={representative.full_name}

        %h2.score
          SCORE : {{ representative.score }}

        %p.group
          %strong
            %a{:href => "{{ representative.main_mandate|by_group_url }}"}
              {{ representative.main_mandate.role }} of
              {{ representative.main_mandate.group.name }}

        %p.personal
          Born in {{ representative.birth_place }} the
          {{ representative.birth_date }} ({{ representative.get_gender_display }})

        %p.country= representative.country.name
      .col-md-4
        %p.photo
          %img{:src => "{{ representative.photo }}"}/
      
    
    %h2 Votes
    
    %table.table.votes
      - for vote in representative.votes_with_proposal.all
        %tr
          %td= vote.proposal.recommendation.title
          %td= vote.position
          %td= vote.proposal.recommendation.recommendation
          %td= vote.proposal.recommendation.weight
      
  
    %h2 Mandates

    %table.table.mandates
      - for mandate in representative.active_mandates
        %tr.mandate
          %td= mandate.role
          %td
            %a{:href => "{{ mandate|by_group_url }}"}
              {{ mandate.group.name }} ({{ mandate.group.abbreviation }})
          %td= mandate.begin_date
          %td= mandate.end_date
          %td= mandate.constituency.name
