- load memopol_tags
- load representatives_tags
- load representatives_recommendations_tags
- load humanize

.representative

  %h1.name<
    ={representative.full_name}

  .row
    .col-md-4
      %p.photo<
        %img{:src => "{{ representative.photo }}"}/

    .col-md-8
      %table.table.table-condensed.detail-view
        %tr.score
          %th Score
          %td
            = representative.score.score|score_label
        %tr
          %th Chamber
          %td<
            %a{'href': "{% chamber_url representative.chamber %}"}
              = representative.chamber|chamber_icon
        %tr
          %th Country
          %td<
            %a{:href => "{% country_url representative.country %}"}
              = representative.country|country_flag
        %tr
          %th Party
          %td<
            %a{:href => "{% group_url representative.main_mandate.group %}"}
              = representative.main_mandate|mandate_icon
        %tr
          %th Biography
          %td<
            Born in {{ representative.birth_place }} the
            {{ representative.birth_date|naturalday:'d/m/Y' }}
            ({{ representative.get_gender_display }})

        - if representative.social_websites|length > 0
          %tr
            %th Social
            %td
              - for site in representative.social_websites
                - if site.kind == 'twitter'
                  = site.url|twitter_link
                - elif site.kind == 'facebook'
                  = site.url|facebook_link

        - if representative.other_websites|length > 0
          %tr
            %th Websites
            %td
              - for site in representative.other_websites
                = site.url|website_link
