- extends 'representatives/representative_list.html'

- load memopol_tags
- load representatives_recommendations_tags

- block list

  .representative_grid
    - for representative in object_list
      .representative_item{'class': '{{ representative.active|yesno:"active,inactive" }}'}
        %p.photo
          %a{'href': "{% url 'representative-detail' representative.slug %}"}
            %img{'src': '={representative.photo}', 'width': '80'}/
        %ul
          %li.name
            %a{'href': "{% url 'representative-detail' representative.slug %}"}
              = representative.full_name
          %li.chamber
            %a{'href': "{% chamber_url representative.chamber %}"}
              = representative.chamber|chamber_icon
          %li.country
            %a{'href': "{% country_url representative.country %}"}
              = representative.country|country_flag
          %li.mandate
            %a{'href': "{% group_url representative.main_mandate.group %}"}
              = representative.main_mandate.group|group_icon
          %li.score
            = representative.score.score|score_label
