- extends 'base.html'

- load i18n
- load memopol_tags
- load representatives_recommendations_tags

- block head

  {{ filter.form.media }}

- block content

  - block search

    {% url 'representative-list' as action_url %}
    - include '_filter_form.html' with action=action_url form=filter.form qs=request.GET.urlencode csv=True

  - if object_list|length == 0

    .no-results="No matching representatives found :("

  - else

    - include 'core/blocks/pagination.html'

    - block list

      %table.table
        %tr
          %th
            - trans 'Photo'
          %th
            - trans 'Name'
          %th
            - trans 'Chamber'
          %th
            - trans 'Country'
          %th
            - trans 'Group'
          %th
            - trans 'Score'

        - for representative in object_list
          %tr.representative_item{'class': '{{ representative.active|yesno:"active,inactive" }}'}
            %td.photo
              %a{'href': "{% url 'representative-detail' representative.slug %}"}
                %img{'src': '={representative.photo}', 'width': '80'}/

            %td
              %a{'href': "{% url 'representative-detail' representative.slug %}"}
                = representative.full_name

            %td
              %a{'href': "{% chamber_url representative.chamber %}"}
                = representative.chamber

            %td
              %a{'href': "{% country_url representative.country %}"}
                = representative.country

            %td
              %a{'href': "{% group_url representative.main_mandate.group %}"}
                = representative.main_mandate.group|group_icon
            %td
              = representative.score.score|score_label

    - include 'core/blocks/pagination.html'
