- extends 'base.html'

- load i18n
- load memopol_tags
- load representatives_tags
- load representatives_recommendations_tags

- block content

  - block search

    %form{action:'', method:'get'}
      %label{for:'search'}
        - trans 'Search'
      %input{id:"search", type:"text", name:"search"}
      %input{type:"submit", value:"Go"}

    %a{href:"?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}csv"}
      - trans 'Download data as CSV'

  - include 'core/blocks/pagination.html'

  - block list

    %table.table
      %tr
        %th
          - trans 'Photo'
        %th
          - trans 'Name'
        %th
          - trans 'Chamber'
        %th
          - trans 'Country'
        %th
          - trans 'Group'
        %th
          - trans 'Score'

      - for representative in object_list
        %tr.representative_item{'class': '{{ representative.active|yesno:"active,inactive" }}'}
          %td.photo
            %a{'href': "{% url 'representative-detail' representative.slug %}"}
              %img{'src': '={representative.photo}', 'width': '80'}/

          %td
            %a{'href': "{% url 'representative-detail' representative.slug %}"}
              = representative.full_name

          %td
            %a{'href': "{% chamber_url representative.chamber %}"}
              = representative.chamber

          %td
            %a{'href': "{% country_url representative.country %}"}
              = representative.country

          %td
            %a{'href': "{% group_url representative.main_mandate.group %}"}
              = representative.main_mandate.group|group_icon
          %td
            = representative.score.score|score_label

  - include 'core/blocks/pagination.html'
