- extends 'base.html'

- load humanize
- load memopol_tags
- load representatives_recommendations_tags

- block head
  {{ position_form.media }}

- block content
  .row
    .col-md-6
      - include 'representatives/_representative_block.html' with representative=representative
      - include 'representatives/_representative_contact.html' with representative=representative

    .col-md-6
      %h2#votes Votes

      %table.table.table-condensed.votes
        %tr
          %th Title
          %th Date
          %th.icon-cell
            Memopol recommendation
          %th.icon-cell
            Representative vote
          %th.icon-cell
            Score

        - for vote in votes
          %tr
            %td= vote.proposal.recommendation.title
            %td.date-cell
              = vote.proposal.datetime|date:'N j, Y'
            %td.icon-cell
              = vote.proposal.recommendation.recommendation|position_icon
            %td.icon-cell
              = vote.position|position_icon
            %td.icon-cell
              = vote.score|score_label


  %h2 Mandates

  %table.table.table-condensed.mandates
    - for mandate in mandates
      %tr.mandate
        %td= mandate.role
        %td
          %a{:href => "{% group_url mandate.group %}"}
            {{ mandate.group.name }}
            - if mandate.group.abbreviation
              {{ mandate.group.abbreviation }}
        %td
          - if mandate.begin_date
            = mandate.begin_date|mandate_date:'d/m/Y'
        %td
          - if mandate.end_date
            = mandate.end_date|mandate_date:'d/m/Y'
        %td= mandate.constituency.name

  .positions
    %h2 Public positions

    %table.table.table-condensed
      - for position in positions
        %tr.position
          %td= position.datetime|naturalday:'d/m/Y'
          %td
            %a{:href => '{{ position.get_absolute_url }}'}
              =position.text|truncatewords:8
          %td
            %a{:href => '{{ position.link }}'}
              = position.link

    - include 'representatives_positions/_form.html' with form=position_form
