- extends "base.html"

- load i18n
- load representatives_votes_tags

- block content

  %h1 {{ dossier.name }} {{ dossier.title }}
  %p
    <strong>{{ dossier.reference }}</strong>

  %h2
    - trans "Recommendations"

  %table.table
    %tr
      %th
        - trans "Proposal"
      %th
        - trans "Title"
      %th
        - trans "Recommendation"
      %th
        - trans "Status"
      %th= "for" | position_icon
      %th= "against" | position_icon
      %th= "abstain" | position_icon

    - for proposal in dossier.proposals.all
      %tr
        %td
          = proposal.title
          %br
          %small
            {{ proposal.reference }}
            {{ proposal.kind }}
        %td= proposal.recommendation.title
        %td= proposal.recommendation.position | position_icon
        %td= proposal.status
        %td= proposal.total_for
        %td= proposal.total_against
        %td= proposal.total_abstain

