- extends "base.html"

- load i18n
- load memopol_tags

- block content

  %h1 {{ dossier.name }} {{ dossier.title }}
  %p
    <strong>{{ dossier.reference }}</strong>

  %h2
    - trans "Documents"

  %table.table
    %tr
      %th
        - trans "Chamber"
      %th
        - trans "Document type"
      %th
        - trans "Title"

    - for document in dossier.documents.all
      %tr
        %td
          = document.chamber | chamber_icon
        %td
          %a.external{'href': '{{ document.link }}', target:'_blank'}
            - if document.kind == 'procedure-file'
              - trans "Procedure file"
            - else
              = document.kind
        %td
          %a.external{'href': '{{ document.link }}', target:'_blank'}
            = document.title

  %h2
    - trans "Recommendations"

  %table.table
    %tr
      %th
        - trans "Proposal"
      %th
        - trans "Title"
      %th
        - trans "Recommendation"
      %th
        - trans "Status"
      %th= "for" | position_icon
      %th= "against" | position_icon
      %th= "abstain" | position_icon

    - for proposal in dossier.proposals.all
      %tr
        %td
          = proposal.title
          %br
          %small
            {{ proposal.reference }}
            {{ proposal.kind }}

        - if proposal.recommendation

          %td= proposal.recommendation.title
          %td= proposal.recommendation.recommendation | position_icon

        - else
          %td.no-recommendation{colspan:2}= "No recommendation"

        %td= proposal.status
        %td= proposal.total_for
        %td= proposal.total_against
        %td= proposal.total_abstain

